.table-responsive {
    height: 600px;
    overflow_y: scroll;
}

thead tr:nth-child(1) th {
    background: WhiteSmoke;/* Gainsboro;*/
    position: sticky;
    top: 0;
    z-index: 10;
}

.table-condensed {
    font-size: 14px;
}

.HighlightClass {
    background-color: Highlight;
    color: white !important;
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

